body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}



/*main windows*/
.result,
.start-box,
.sets,
.game-rules{
    width: 300px;
    height: 230px;
    position: absolute;
    background-color: violet;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.heart,
.score,
.play-again,
.back {
    margin: 0px 10px;
}
.game-rules {
    width: 700px;
    height: auto;
}

.result p {
    font-size: 2.5em;
    text-align: center;
}

.game-box {
    width: auto;
}

.score-box {
    align-self: flex-start;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    opacity: 0;
}
.current-level {
    width: 300px;
    color: violet;
    font-size: 1.5em;
    margin: 0 auto;
}
.logo {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 7em;
    color: #def7f5;
    text-shadow: 1px 1px 5px darkturquoise;
    padding-left: 10px;
    position: absolute;
    top: 0px;
}




/*main buttons*/
.play-again,
.start,
.settings,
.rules,
.set,
select,
.close-rules,
.back {
    border: 2px solid darkturquoise;    
    background-color: white;
    color: darkturquoise;
    width: 120px;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.start {
    margin-top: 40px;
}

.choose-level {
    margin-top: 30px;
}
#color {
    margin-bottom: 30px;
}
select {
    font-size: 1em;
    width: 120px;
}



/*rules*/
.description {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 20px auto;
}
.description p {
    color: violet;
    margin: 30px 30px 0px auto;
}
.tabs {
    width: 160px;
    padding: 20px 30px;
}
.tap {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    color: darkturquoise;
    border: 2px solid darkturquoise;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.benefits,
.enemies{
    display: flex;
    margin: 5px 25px;
    width: 90%;
    flex-wrap: wrap;
}
.crystal {
    width: 49px;
    height: 35px;
    margin: 30px 20px 0px 20px;
    background-image: url('../img/items.png');
    background-position: -57px 0px;
}
.jelly {
    width: 61px;
    height: 45px;
    margin-top: 30px;
    background-image: url('../img/items.png');
    background-position: -180px 0px;
}
.fly {
    width: 73px;
    height: 36px;
    margin-top: 40px;
    background-image: url('../img/fly.png');
    background-position: 0px -32px;
}
.squere {
    width: 60px;
    height: 60px;
    margin-top: 25px;
    background-image: url('../img/items.png');
    background-position: 0px -50px;
}
.orange-enemy {
    width: 60px;
    height: 100px;
    background-image: url('../img/items.png');
    background-position: -240px 0px;
}
.benefits p,
.enemies p {
    margin: 50px 30px 0px auto;
}
.points {
    width: 100%;
}
.benefits span,
.enemies span{
    color: violet;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1em;
}
.enemies span{
    margin: 30px 20px;
}





.curent-level {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    color: white;
    opacity: 1;
}

.curent-level-moove {
    transition-duration: 6s;
    opacity: 0;
    top: 0px;
}









.hover {
    display: none;
}
